
<%#= render 'users/list', user: @user %>
<%= render 'books/list', book: @book %>

<div class="container">
	<div class="users-title">
		<h2>Users</h2>
		<table>
			<tr>
				<th>image</th>
				<th>name</th>
				<th><%#show欄%></th>
			</tr>
			<% @users.each do |user| %>
				<tr>
					<td>
						<%= attachment_image_tag @user, :profile_image, :fill, 60, 60, format: 'jpeg', class: "#", fallback: "no_image.jpg" %>
					</td>
					<td>
						<%= user.name %>
					</td>
					<td>
						<%= link_to 'show', user_path(user.id) %>
					</td>
				</tr>
			<% end %>
		</table>
	</div>
</div>
