<h2>New Book</h2>
<%= form_for(@book) do |f| %>
	<h4>Title</h4><br>
		<%= f.text_field :title, class: "book_title" %>
	<h4>Opinion</h4><br>
		<%= f.text_area :body, class: "book_body" %><br>
<%= f.submit 'Create Book' %>
<% end %>