<h1>welcome to Bookers !!</h1>
<p>In <strong>Bookers,</strong></p>
<p>you can share and exchange your opinions , inpressions , and emotions</p>
<p>about varioius books!</p>
<%= link_to 'Log in', "/users/sign_in", class: "top-link1" %><br>
<%= link_to 'Sign Up', "/users/sign_up", class: "top-link2" %>
